<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
<!--    
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="style_of_social.css" /> -->
    <!-- <script src="/main.js" defer></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="lib/New folder/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/fontawesome-free-6.4.2-web/css/all.min.css">
  
    <link rel="stylesheet" href="lib/fontawesome-free-6.4.2-web/js/all.min.js">
  
  
  <!--  -->
 


<link rel="stylesheet" href="editeIndex.css">


<!--  -->

<link rel="stylesheet" href="lib/font/Baloo_Paaji_2/BalooPaaji2-VariableFont_wght.ttf">
<link rel="stylesheet" href="lib/font/DynaPuff/DynaPuff-VariableFont_wdth,wght.ttf">
<link rel="stylesheet" href="lib/font/Saira/Saira-VariableFont_wdth,wght.ttf">



<!--  -->
    <!--  -->

</head>
<body>



 
  <nav id="bn" class="navbar navbar-expand-lg bg-body-tertiary fbrtg dddd">
    <div class="container-fluid">
      <a class="col-3 col-lg-2 col-xl-3 " href="/">
        <h2 class="header-name">
        
    stg

        </h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span id="toty" class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse hjh " id="navbarNav">
        <ul class="navbar-nav col-7  ">
          <li class="nav-item ">
            <a class="nav-link " aria-current="page" href="/home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/video">video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/school">school</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/team">team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
      

        </ul>





      
  <div class="propets col-11 col-sm-11 xol-md-5 col-lg-5 col-xl-4">

    <div class="dropdown trem d-doun">

      <ul class="dropdown-menu dropdown-menu-dark menu-ss droup---styl">
        <li><a class="dropdown-item" href="#">ar</a></li>
        <li><a class="dropdown-item" href="#">en</a></li>

      </ul>
    </div>

    

   <!-- <div class="">
    <input type="checkbox" style="display: none" id="dark">
    <label for="dark" id="darkl"></label>
            </div> -->
            <div id="ssa" class="drck">
              <label id="theme-toggle-button">
                  <input type="checkbox" id="toggle">
                  <svg viewBox="0 0 69.667 44" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(3.5 3.5)" data-name="Component 15 – 1" id="Component_15_1">
                      
                      
                      <g filter="url(#container)" transform="matrix(1, 0, 0, 1, -3.5, -3.5)">
                        <rect fill="#83cbd8" transform="translate(3.5 3.5)" rx="17.5" height="35" width="60.667" data-name="container" id="container"></rect>
                      </g>
                      
                      <g transform="translate(2.333 2.333)" id="button">
                        
                        <g data-name="sun" id="sun">
                          <g filter="url(#sun-outer)" transform="matrix(1, 0, 0, 1, -5.83, -5.83)">
                            <circle fill="#f8e664" transform="translate(5.83 5.83)" r="15.167" cy="15.167" cx="15.167" data-name="sun-outer" id="sun-outer-2"></circle>
                          </g>
                          <g filter="url(#sun)" transform="matrix(1, 0, 0, 1, -5.83, -5.83)">
                            <path fill="rgba(246,254,247,0.29)" transform="translate(9.33 9.33)" d="M11.667,0A11.667,11.667,0,1,1,0,11.667,11.667,11.667,0,0,1,11.667,0Z" data-name="sun" id="sun-3"></path>
                          </g>
                          <circle fill="#fcf4b9" transform="translate(8.167 8.167)" r="7" cy="7" cx="7" id="sun-inner"></circle>
                        </g>
                        
                          
                        <g data-name="moon" id="moon">
                          <g filter="url(#moon)" transform="matrix(1, 0, 0, 1, -31.5, -5.83)">
                            <circle fill="#cce6ee" transform="translate(31.5 5.83)" r="15.167" cy="15.167" cx="15.167" data-name="moon" id="moon-3"></circle>
                          </g>
                          <g fill="#a6cad0" transform="translate(-24.415 -1.009)" id="patches">
                            <circle transform="translate(43.009 4.496)" r="2" cy="2" cx="2"></circle>
                            <circle transform="translate(39.366 17.952)" r="2" cy="2" cx="2" data-name="patch"></circle>
                            <circle transform="translate(33.016 8.044)" r="1" cy="1" cx="1" data-name="patch"></circle>
                            <circle transform="translate(51.081 18.888)" r="1" cy="1" cx="1" data-name="patch"></circle>
                            <circle transform="translate(33.016 22.503)" r="1" cy="1" cx="1" data-name="patch"></circle>
                            <circle transform="translate(50.081 10.53)" r="1.5" cy="1.5" cx="1.5" data-name="patch"></circle>
                          </g>
                        </g>
                      </g>
                      
                      
                      <g filter="url(#cloud)" transform="matrix(1, 0, 0, 1, -3.5, -3.5)">
                        <path fill="#fff" transform="translate(-3466.47 -160.94)" d="M3512.81,173.815a4.463,4.463,0,0,1,2.243.62.95.95,0,0,1,.72-1.281,4.852,4.852,0,0,1,2.623.519c.034.02-.5-1.968.281-2.716a2.117,2.117,0,0,1,2.829-.274,1.821,1.821,0,0,1,.854,1.858c.063.037,2.594-.049,3.285,1.273s-.865,2.544-.807,2.626a12.192,12.192,0,0,1,2.278.892c.553.448,1.106,1.992-1.62,2.927a7.742,7.742,0,0,1-3.762-.3c-1.28-.49-1.181-2.65-1.137-2.624s-1.417,2.2-2.623,2.2a4.172,4.172,0,0,1-2.394-1.206,3.825,3.825,0,0,1-2.771.774c-3.429-.46-2.333-3.267-2.2-3.55A3.721,3.721,0,0,1,3512.81,173.815Z" data-name="cloud" id="cloud"></path>
                      </g>
                
                      
                      <g fill="#def8ff" transform="translate(3.585 1.325)" id="stars">
                        <path transform="matrix(-1, 0.017, -0.017, -1, 24.231, 3.055)" d="M.774,0,.566.559,0,.539.458.933.25,1.492l.485-.361.458.394L1.024.953,1.509.592.943.572Z"></path>
                        <path transform="matrix(-0.777, 0.629, -0.629, -0.777, 23.185, 12.358)" d="M1.341.529.836.472.736,0,.505.46,0,.4.4.729l-.231.46L.605.932l.4.326L.9.786Z" data-name="star"></path>
                        <path transform="matrix(0.438, 0.899, -0.899, 0.438, 23.177, 29.735)" d="M.015,1.065.475.9l.285.365L.766.772l.46-.164L.745.494.751,0,.481.407,0,.293.285.658Z" data-name="star"></path>
                        <path transform="translate(12.677 0.388) rotate(104)" d="M1.161,1.6,1.059,1,1.574.722.962.607.86,0,.613.572,0,.457.446.881.2,1.454l.516-.274Z" data-name="star"></path>
                        <path transform="matrix(-0.07, 0.998, -0.998, -0.07, 11.066, 15.457)" d="M.873,1.648l.114-.62L1.579.945,1.03.62,1.144,0,.706.464.157.139.438.7,0,1.167l.592-.083Z" data-name="star"></path>
                        <path transform="translate(8.326 28.061) rotate(11)" d="M.593,0,.638.724,0,.982l.7.211.045.724.36-.64.7.211L1.342.935,1.7.294,1.063.552Z" data-name="star"></path>
                        <path transform="translate(5.012 5.962) rotate(172)" d="M.816,0,.5.455,0,.311.323.767l-.312.455.516-.215.323.456L.827.911,1.343.7.839.552Z" data-name="star"></path>
                        <path transform="translate(2.218 14.616) rotate(169)" d="M1.261,0,.774.571.114.3.487.967,0,1.538.728,1.32l.372.662.047-.749.728-.218L1.215.749Z" data-name="star"></path>
                      </g>
                    </g>
                  </svg>
                </label>
                          </div>

    <button class="log" type="button" id="x" onclick="window.location.href = '/login'">login <i class="fa-solid fa-right-to-bracket"></i></button>
  </div>

  
            
       



</div>



      </div>

    </div>


  </nav> 





  <div class="back--text about--back">
    <div class="text container">
      <h2 class="one">school technology group</h2>
<p class="prg">STG—short for School Technology Group—is a student-led social media platform developed within The IT School. Designed by students, for students, STG providea a digital space where learners across the school can connect, collaborate, and share ideas. Whether it's discussing class projects, posting tech-related content, or organizing study groups and events, STG brings the school’s tech community together in a safe, engaging, and educational environment. It reflects The IT School’s commitment to hands-on learning, innovation, and fostering a strong student network.</p>
<a href="/school">
<button class="sup col-11 col-sm-4 col-md-6 col-lg-2 col-xl-2" type="button">read more</button>
</a>
  </div>
  </div>







<div class="bccbj">

  <section class="light container up-m-r">
    <div class="row light--up">
  
 
  
    <div class="light--text col-11 col-sm-12 col-md-5 col-lg-5 col-xl-5">
  
      <h2>school technology group Waldorf School in North County San Diego</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum harum error, eveniet quas odit non consectetur sapiente fuga inventore voluptas itaque animi ipsam possimus, quis earum nostrum atque maxime deserunt!</p>
  </p>
  <a href="/login">
      <button class="col-12 col-sm-12 col-md-9 col-lg-12 col-xl-12"> raed more</button></a>
    </div>

    <div class="light--img col-12 col-sm-12 col-md-7 col-lg-5 col-xl-5">
      <img src="imgs/phone (3).png" alt="">
    </div>
  </div>
  
  </section>

</div>





<div class="bccbj">

<section class="section-learning container">

  <div class="lirning-text">
    <h4>
      What will you learn?
    </h4>
    <h6>Lorem ipsum dolor  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum id adipisci, soluta eius harum iure debitis repudiandae veniam optio natus est, facilis blanditiis qui quidem possimus at nihil expedita earum.  
       sit amet consectetur adipisicing elit. Nisi voluptatem, quibusdam sequi  magnam, vel</h6>
    <div class="vvvc">
    </div>
  </div>
<div class="row r-up justify-content-center align-items-center justify-content-around">





  <div class="row  ddg  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<h2 class="cx">school technology group</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur exercitationem, repellendus dolores voluptatem, odit temporibus commodi cumque autem</p>
  <div class="liraning-cord col-12 col-sm-5 col-md-5 col-lg-5 col-xl-6">
    <h3>
      01
    </h3>
    <h2>
      programing
    </h2>
<h4>
  Use HDFS & Map Reduce for storing & analyzing data at scale.
</h4>
  </div>

  <div class="liraning-cord col-12 col-sm-5 col-md-5 col-lg-5 col-xl-6">
    <h3>
      02
    </h3>
    <h2>ai</h2>
<h4>
  Use HDFS & Map Reduce for storing & analyzing data at scale.
</h4>
  </div>
  <div class="liraning-cord col-12 col-sm-5 col-md-5 col-lg-5 col-xl-6">
    <h3>
      03
    </h3>
    <h2>net work</h2>
<h4>
  Use HDFS & Map Reduce for storing & analyzing data at scale.
</h4>
  </div>
  <div class="liraning-cord col-12 col-sm-5 col-md-5 col-lg-5 col-xl-6">
    <h3>
      04
    </h3>
    <h2>it</h2>
<h4>
  Use HDFS & Map Reduce for storing & analyzing data at scale.
</h4>
  </div>

      
</div>

<div class="learning-img col-11 col-sm-11 col-md-10 col-lg-6 col-xl-5">
  <img src="imgs/al (1).jpg" alt="">
</div>



</div>
</section>
</div>

<div class="bccbj">


    <section class="grid-num container">
     
        <div class="btn--text" id="f1">
          <h2>grade 1</h2>
          <p>First grade acts as a bridge between the kindergarten and the grade school years. It begins with the
            discoveries that behind all forms lie two basic principles: the straight and the curved line. Children find
            these shapes in their own bodies, in the classroom, and in the world beyond. Straight and curved lines are
            then practiced through walking, drawing in the air and sand, on the blackboard, and finally, on paper. These
            form drawings train motor skills, awaken children’s powers of observation, and provide a foundation for
            introducing the alphabet. The first two hours of every morning are devoted to the Main Lesson. This is the
            time when the Class Teacher introduces and develops an academic theme over a
            period of weeks. In the first grade, the letters and numbers are learned with the aid of stories and art.
          </p>
  
          <h4>Curriculum:</h4>
          <div class="brns---list row">
  
          
          <ul class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5">
  
            <li>
              Numbers and Counting
  
            </li>
            
            <li>German through songs, poems, games</li>
         
          <li>  Fairy Tales</li>
            <li> 
          Pictorial introduction to the Alphabet
  
            </li>
            <li>
              Writing
  
            </li>
            <li>
          Reading
  
            </li>
            <li>
              Spelling
  
            </li>
            <li>
          Speech Exercises
  
            </li>
            <li>
              Observation of Nature
  
            </li>
  
          </ul>
  
  
  
  
          <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
  
            <li>
              Numbers and Counting
  
            </li>
            
            <li>German through songs, poems, games</li>
         
          <li>  Fairy Tales</li>
            <li> 
          Pictorial introduction to the Alphabet
  
            </li>
            <li>
              Writing
  
            </li>
            <li>
          Reading
  
            </li>
            <li>
              Spelling
  
            </li>
            <li>
          Speech Exercises
  
            </li>
            <li>
              Observation of Nature
  
            </li>
  
          </ul>
  
  
        </div>
  
  
  
  
  
        </div>

        <div class="btn--text" id="f2">
            <h2>grade 2</h2>
            <p>First grade acts as a bridge between the kindergarten and the grade school years. It begins with the
              discoveries that behind all forms lie two basic principles: the straight and the curved line. Children find
              these shapes in their own bodies, in the classroom, and in the world beyond. Straight and curved lines are
              then practiced through walking, drawing in the air and sand, on the blackboard, and finally, on paper. These
              form drawings train motor skills, awaken children’s powers of observation, and provide a foundation for
              introducing the alphabet. The first two hours of every morning are devoted to the Main Lesson. This is the
              time when the Class Teacher introduces and develops an academic theme over a
              period of weeks. In the first grade, the letters and numbers are learned with the aid of stories and art.
            </p>
    
            <h4>Curriculum:</h4>
            <div class="brns---list row">
    
            
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
    
    
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
          </div>
    
    
    
    
    
          </div>

          <div class="btn--text" id="f3">
            <h2>grade 3</h2>
            <p>First grade acts as a bridge between the kindergarten and the grade school years. It begins with the
              discoveries that behind all forms lie two basic principles: the straight and the curved line. Children find
              these shapes in their own bodies, in the classroom, and in the world beyond. Straight and curved lines are
              then practiced through walking, drawing in the air and sand, on the blackboard, and finally, on paper. These
              form drawings train motor skills, awaken children’s powers of observation, and provide a foundation for
              introducing the alphabet. The first two hours of every morning are devoted to the Main Lesson. This is the
              time when the Class Teacher introduces and develops an academic theme over a
              period of weeks. In the first grade, the letters and numbers are learned with the aid of stories and art.
            </p>
    
            <h4>Curriculum:</h4>
            <div class="brns---list row">
    
            
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
    
    
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
          </div>
    
    
    
    
    
          </div>


          <div class="btn--text" id="f4">
            <h2>grade 4</h2>
            <p>First grade acts as a bridge between the kindergarten and the grade school years. It begins with the
              discoveries that behind all forms lie two basic principles: the straight and the curved line. Children find
              these shapes in their own bodies, in the classroom, and in the world beyond. Straight and curved lines are
              then practiced through walking, drawing in the air and sand, on the blackboard, and finally, on paper. These
              form drawings train motor skills, awaken children’s powers of observation, and provide a foundation for
              introducing the alphabet. The first two hours of every morning are devoted to the Main Lesson. This is the
              time when the Class Teacher introduces and develops an academic theme over a
              period of weeks. In the first grade, the letters and numbers are learned with the aid of stories and art.
            </p>
    
            <h4>Curriculum:</h4>
            <div class="brns---list row">
    
            
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
    
    
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
          </div>
    
    
    
    
    
          </div>


          <div class="btn--text" id="f5">
            <h2>grade 5</h2>
            <p>First grade acts as a bridge between the kindergarten and the grade school years. It begins with the
              discoveries that behind all forms lie two basic principles: the straight and the curved line. Children find
              these shapes in their own bodies, in the classroom, and in the world beyond. Straight and curved lines are
              then practiced through walking, drawing in the air and sand, on the blackboard, and finally, on paper. These
              form drawings train motor skills, awaken children’s powers of observation, and provide a foundation for
              introducing the alphabet. The first two hours of every morning are devoted to the Main Lesson. This is the
              time when the Class Teacher introduces and develops an academic theme over a
              period of weeks. In the first grade, the letters and numbers are learned with the aid of stories and art.
            </p>
    
            <h4>Curriculum:</h4>
            <div class="brns---list row">
    
            
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
    
    
            <ul class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
    
              <li>
                Numbers and Counting
    
              </li>
              
              <li>German through songs, poems, games</li>
           
            <li>  Fairy Tales</li>
              <li> 
            Pictorial introduction to the Alphabet
    
              </li>
              <li>
                Writing
    
              </li>
              <li>
            Reading
    
              </li>
              <li>
                Spelling
    
              </li>
              <li>
            Speech Exercises
    
              </li>
              <li>
                Observation of Nature
    
              </li>
    
            </ul>
    
    
          </div>
    
    
    
    
    
          </div>

      </section>
</div>




<div class="bccbj">

      <section class="fixed-back back--two">

        <div class="text--title   container">
          <h2>school technology group <span> </span> </h2>
        <h3>  _an idea about the STG</h3>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, iusto voluptatum nostrum dolor voluptatibus excepturi. Nisi aperiam possimus
           nam ex aperiam exercitationem labore amet deleniti Lorem ipsum 
           dolor sit amet consectetur  elit. Accusamus totam quas possimus vero,
            eveniet nostrum, fugiat aliquam, nesciunt enim modi optio quam voluptatibus.
          
              ducimus suscipit? perspiciatis quis sint nobis rerum, iusto sit voluptate? eum amet repellat. Ipsam, aliquam quaerat. vero suscipit quaerat atque et! Suscipit, excepturi
               asperiores.</p>
        
        
        </div>
        </section>
 </div>









      <div class="frty bccbj">


<div class="container">


        <div class="row ">


<h2 class="kfkfkfkfkfkf">
some Services provided to  school
</h2>
<p class="prg-kf">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium minus tempore voluptate dolorum eos animi, esse laboriosam error nihil ex voluptatum provident. Aperiam quas delectus nemo distinctio rem. Aut, aperiam.</p>

<div class="row ser-up-icons">



   <div class="serv-se col-11 col-sm-10 col-md-4 col-lg-4 col-xl-5">
       <div class="li-im  dfe-o">
        <i class="fa-solid fa-school"></i>       </div>
       <div class="ser-text">
            <h4>
the school     </h4>
     <p>
       Sed ut perspiciatis  error sit voluptat accusantium  Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      
     </p> 
       </div>
   
   </div>

 

   <div class="serv-se col-11 col-sm-10 col-md-4 col-lg-4 col-xl-5">
       <div class="li-im dfe-o   ">
        <i class="fa-solid fa-graduation-cap"></i>       </div>
       <div class="ser-text ">
            <h4>
student excellence
     </h4>
     <p>
     the school depend on the student excellence   Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      
     </p> 
       </div>
   
   </div>


   <div class="serv-se col-11 col-sm-10 col-md-4 col-lg-4 col-xl-5">
       <div class="li-im dfe-o   ">
        <i class="fa-solid fa-chalkboard"></i>       </div>
       <div class="ser-text">
            <h4>
     factories
     </h4>
     <p>
the school contains more than one laboratores     Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet consectetur adipisicing elit.   
     </p> 
       </div>
   
   </div>



   <div class="serv-se col-11 col-sm-10 col-md-4 col-lg-4 col-xl-5">
       <div class="li-im  dfe-o">
        <i class="fa-solid fa-code"></i>       </div>
       <div class="ser-text">
            <h4>
   student
     </h4>
     <p>
the school depind one coopertion between student   Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     </p> 
       </div>
   
   </div>



   <div class="serv-se col-11 col-sm-10 col-md-4 col-lg-4 col-xl-5">
       <div class="li-im  dfe-o">
        <i class="fa-solid fa-code"></i>       </div>
       <div class="ser-text">
            <h4>
learn programing     </h4>
     <p>
the school depend many programing languages      Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet consectetur adipisicing elit.  
     </p> 
       </div>
   
   </div>



   <div class="serv-se col-11 col-sm-10 col-md-4 col-lg-4 col-xl-5">
       <div class="li-im  dfe-o">
        <i class="fa-solid fa-book"></i>    
         </div>
       <div class="ser-text">
            <h4>
library   
  </h4>
     <p>
the school containas a huge library      in many areas  Lorem ipsum dolor sit amet.  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     </p> 
       </div>
   
   </div>


</div>











</div>


</div>



       </div>



       <section class="bccbj">

        <div class="text--title   container">
          <h2>school technology  <span>group </span> </h2>
        <h3>  _an idea about the STG</h3>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, iusto voluptatum nostrum dolor voluptatibus excepturi. Nisi aperiam possimus
           dolor voluptas iusto quasi Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nihil nulla eveniet quibusdam dolorem eius, amet quidem, incidunt voluptatibus
            iure delectus. Necessitatibus mollitia aperiam Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vitae hic corrupti est veniam voluptatum illo facilis. Ea hic voluptates
             magnam temporibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae asperiores repellat facere, commodi voluptatum eius officia voluptas delectus error reprehenderit Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea consequuntur exercitationem suscipit quae nobis, eaque tempora ratione ducimus magnam obcaecati sint odit Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eaque aliquid
             , eum itaque nam ex aperiam exercitationem labore amet deleniti Lorem ipsum dolor sit amet consectetur  elit. Accusamus totam quas possimus vero, eveniet nostrum, fugiat aliquam, nesciunt enim modi optio quam voluptatibus. Obcaecati nam pariatur quo. Cum, cupiditate molestias? earum rem, numquam sunt blanditiis saepe soluta odio, dolores nihil! quis impedit dolores natus, doloribus officiis provident numquam! provident at ducimus dolore eligendi. Enim adipisci pariatur ducimus suscipit? perspiciatis quis sint nobis rerum, iusto sit voluptate? eum amet repellat. Ipsam, aliquam quaerat. vero suscipit quaerat atque et! Suscipit, excepturi asperiores.</p>
        
        
        </div>
        </section>


       <section class="fixed-back back--three bccbj">

        <div class="text--title   container">
          <h2>school technology group <span> </span> </h2>
        <h3>  _an idea about the STG</h3>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, iusto voluptatum nostrum dolor voluptatibus excepturi. Nisi aperiam possimus
           nam ex aperiam exercitationem labore amet deleniti Lorem ipsum 
           dolor sit amet consectetur  elit. Accusamus totam quas possimus vero,
            eveniet nostrum, fugiat aliquam, nesciunt enim modi optio quam voluptatibus.
          
              ducimus suscipit? perspiciatis quis sint nobis rerum, iusto sit voluptate? eum amet repellat. Ipsam, aliquam quaerat. vero suscipit quaerat atque et! Suscipit, excepturi
               asperiores.</p>
        
        
        </div>
        </section>

       <div class="e-e-e vbtp bccbj">

        <section class=" container">
  
          <div class="row up--frist">
          <div class="firet--img col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
          <img src="imgs/ai (14).jpg" alt="">
          
          </div>
          
         
          
          
          
          
          <div class="first--text nex-text col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
             <h2>The furniture brand for the Lorem ipsum dolor sit. Lorem, </h2>
        
            <h3>The furniture brand for the future, with             officia sed. A id inventore Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor tenetur voluptatem itaque eveniet. designs
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ipsam.</h3>
  
          </div>
          
          </div>
  
  
          <div class="row up--frist">
  
         
          <div class="first--text nex-text col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
             <h2>The furniture brand for the Lorem ipsum dolor sit.</h2>
        
            <h3>The furniture brand for the future, with             officia sed. A id inventore Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor tenetur voluptatem itaque eveniet. designs
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ipsam.</h3>
  
          </div>
  
  
            <div class="firet--img col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
            <img src="imgs/ai (7).jpg" alt="">
            
            </div>
            
           
            
            
            
            
         
            
            </div>
  
  
  
          </section> 
  
        </div>

        <footer class="fo bccbj">
          <div class="foot-back container">
            <div class="row justify-content-center  justify-content-around gap-2">
        
        
              <div class="foot-center col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div class="foot--one">
                  <div class="text--about-all footer--ediete">
               <h2 class="bbvv">STG <span class="about-span"></span></h2>
        <P>school technology group Lorem ipsum dolor, sit amet consectetur adipisicing elit.</P>
             </div>
        
        <a href="https://www.facebook.com/groups/1369595796547607/?ref=share&mibextid=adzO7l">
             <button class="facbo">               <i class="fa-brands fa-facebook"></i>
        
             </button>
            </a>
             </div>
        
              
              </div>
        
        
        
        
              <div class="foot-left foot--two col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
                <h4>Utility Pages</h4>
                <ul>
                  <li>
                    <h6>
                      <a href="/index"> Home</a>
                    </h6>
                  </li>
        
                  <li>
                    <h6>
                      <a href="/about">about</a>
                    </h6>
                  </li>
        
                  <li>
                    <h6>
                      <a href="/video">video</a>
                    </h6>
                  </li>
                  
                  <li>
                    <h6>
                      <a href="/school">school</a>
                    </h6>
                  </li>
        
                  <li>
                    <h6>
                      <a href="/team">team</a>
                    </h6>
                  </li>
                  <li>
                    <h6>
                      <a href="/login">Contact us</a>
                    </h6>
                  </li>
                </ul>
              </div>
        
        
              <div class="foot-right foot--three col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
                <h4>Contact Us</h4>
                <ul>
                  <li>
                    <h6>Email</h6>
                    <p>needhelp@Organia.com</p>
                  </li>
        
               
        
                  <li>
                    <h6>Address</h6>
                    <p>88 road, borklyn street, USA</p>
                  </li>
                </ul>
              </div>
        
            
        
              <hr />
        
              <div class="end">
                <h6>
                  master © patch | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, repellat?
        
                </h6>
              </div>
            </div>
          </div>
        </footer>
        

        <script src="./main.js"></script>
        <!-- <script src="./java.js"></script> -->
        
        
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js  "></script> -->
        <script src="lib/fontawesome-free-6.4.2-web/js/all.min.js"></script>
          <script src="lib/New folder/lib/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
        


</body>
</html>
