<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Chat Room</title>
    <link rel="stylesheet" href="lib/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="darkStyle.css">

    <link rel="stylesheet" href="/chat.css">
    <link rel="stylesheet" href="darkStyle.css">

    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="countiner" class="class_form chat--cont ">

        </div>
    <form class="chat-pearant" action="" id="form">
        <input class="input-user col-4" placeholder="start chating" id="input" multiple></input>
        <button class="send-Value send-home" type="submit" id="btnValue"> <i class="fa-regular fa-paper-plane"></i> </button>
    </form>
    <script src="/chat.js"></script>
</body>
</html>