<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style_page.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Barriecito&family=Permanent+Marker&family=Protest+Revolution&display=swap"
        rel="stylesheet" />
    <title>school</title>
    <link rel="icon" href="imgs/for.icon" width="16px" height="16px" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="media.css" /> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="lib/New folder/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/fontawesome-free-6.4.2-web/css/all.min.css" />

    <link rel="stylesheet" href="lib/fontawesome-free-6.4.2-web/js/all.min.js" />

    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@600&family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@800;900&family=Protest+Revolution&display=swap"
        rel="stylesheet" />

    <!--  -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@600&family=Lemonada&family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@800;900&family=Protest+Revolution&display=swap"
        rel="stylesheet" />
    <!--  -->

    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka&family=Kode+Mono:wght@500&family=Lemonada&family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@800;900&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap"
        rel="stylesheet" />
    <!-- 

 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@601&family=Kode+Mono:wght@500&family=Lemonada&family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@800;900&family=Orbitron:wght@600&family=Protest+Revolution&display=swap"
        rel="stylesheet" />

    <!--  -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@601&family=Kode+Mono:wght@500&family=Lemonada&family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@800;900&family=Orbitron:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap"
        rel="stylesheet" />

    <!--  -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@601&family=Kode+Mono:wght@600&family=Lemonada&family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@800;900&family=Protest+Revolution&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titan+One&display=swap"
        rel="stylesheet" />

    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet" />
    <!--  -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/chat.css" />
    <script src="/socket.io/socket.io.js"></script>
    <!--  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@601&family=Kode+Mono:wght@600&family=Lemonada&family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&family=Noto+Sans+TC:wght@800;900&family=Protest+Revolution&display=swap"
        rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="second_style.css" />
 
       
<link rel="stylesheet" href="darkStyle.css">
</head>
<!-- 

-->
<body>
   
   <nav id="bn" class="navbar navbar-expand-lg bvhj">
        <div class="container">
          <div class="row nav-hoda">
            <div class="offcanvas-header col-4 col-sm-3 col-lg-2 col-xl-3">
              <h5 class="" id="">
                  stg
              </h5>
            
          </div>

  <ul class="navbar-nav align-items-center hoday col-8 col-sm-5 col-md-4 col-lg-4 col-xl-3">
       
            

    <i id="searchVseat" class="fa-solid fa-magnifying-glass ser-i"></i>

    <i id="iconHead" class="fa-solid fa-xmark"></i>

    <input class="input-group-text" placeholder="search" id="searchHeadeen" />
    <i id="searchVseat" class="ser fa-solid fa-magnifying-glass ser-i"></i>
    <button id="btnPosts" type="button" class="post----btn" data-bs-toggle="modal"
        data-bs-target="#exampleModal" data-bs-whatever="@mdo">

             
        
                      <button class="button-57 log" role="button" id="x"><span class="text"> logout</span><span> <i class="fa-solid fa-right-to-bracket fs-5"></i></span></button>
                      <button class="button2 ">
                        <span class="navbar-toggler-icon"></span>
                     
                      </button> 
  </ul>
</div>


  
       
       
        </div>
      </nav>


    
    <div class="popup" id="popup">
        <div class="popup-content">
            <button type="button" id="closePopup" class="btn-close close" aria-label="Close"></button>

            <div id="profilestyl">
                <h2>profile </h2>
            </div>
            <div class=" sec">
                <img src="/assets/defaultProfile.jpg" alt="Profile" class="popup-profile-image m-auto ">
            </div>
            <div class="mb-3  dell1 ">
                <label for="exampleFormControlInput1" class="form-label col-6">User Name</label>
                <p class="form-control user p-3 col-5" id="exampleFormControlInput1"></p>
            </div>
            <section class="ayhaga">
                <label for="" class="vil">Email address</label>
                <p class="form-control eemail p-3"></p>

            </section>
            <div class="mb-3 cal dell">
                <label for="exampleFormControlTextarea1" class="form-label ss">your class</label>
                <p class="form-control form-control-sm  classs"></p>
            </div>
            <div class="form-float1">
                <label class="pay" for="floatingTextarea">Comments</label>
                <p id="bioText" class="form-control" id="floatingTextarea"></p>
            </div>


            <div class="d-flex justify-content-center gap-5">
                <button type="button" id="sendButton1" class="editpass button-49">Edit Profile</button>
               
                <button type="button" id="sendButton2" class="btn-secondary button-49" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit Password</button>

            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Edit Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
<form class="formm">
  <input placeholder="Enter your old password" class="input o" type="password" id="oldpassword">
    <input placeholder="Enter your new password" class="input" type="password" id="newpassword">

</form>
</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary editPassword">Submit</button>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body formm">
            <label for="">Ttitle</label>

      <input  class="input title" type="text" >
      <label for="">paragraph</label>

      <input  class="input paragraph" type="text">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary exitFromEdit" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick=" editpost(this)">Change</button>
          </div>
        </div>
      </div>
    </div>  
    <div class="posts--page  ">
     
        <div class="row">
            <div class="left" data-bs-scroll="true" tabindex="-1"
            id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
         
            <img id="userImg" alt="" />


            <div id="ssa" class="drck">
              <label id="theme-toggle-button">
                  <input type="checkbox" id="toggle">
                  <svg viewBox="0 0 69.667 44" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(3.5 3.5)" data-name="Component 15 – 1" id="Component_15_1">
                      
                      
                      <g filter="url(#container)" transform="matrix(1, 0, 0, 1, -3.5, -3.5)">
                        <rect fill="#83cbd8" transform="translate(3.5 3.5)" rx="17.5" height="35" width="60.667" data-name="container" id="container"></rect>
                      </g>
                      
                      <g transform="translate(2.333 2.333)" id="button">
                        
                        <g data-name="sun" id="sun">
                          <g filter="url(#sun-outer)" transform="matrix(1, 0, 0, 1, -5.83, -5.83)">
                            <circle fill="#f8e664" transform="translate(5.83 5.83)" r="15.167" cy="15.167" cx="15.167" data-name="sun-outer" id="sun-outer-2"></circle>
                          </g>
                          <g filter="url(#sun)" transform="matrix(1, 0, 0, 1, -5.83, -5.83)">
                            <path fill="rgba(246,254,247,0.29)" transform="translate(9.33 9.33)" d="M11.667,0A11.667,11.667,0,1,1,0,11.667,11.667,11.667,0,0,1,11.667,0Z" data-name="sun" id="sun-3"></path>
                          </g>
                          <circle fill="#fcf4b9" transform="translate(8.167 8.167)" r="7" cy="7" cx="7" id="sun-inner"></circle>
                        </g>
                        
                          
                        <g data-name="moon" id="moon">
                          <g filter="url(#moon)" transform="matrix(1, 0, 0, 1, -31.5, -5.83)">
                            <circle fill="#cce6ee" transform="translate(31.5 5.83)" r="15.167" cy="15.167" cx="15.167" data-name="moon" id="moon-3"></circle>
                          </g>
                          <g fill="#a6cad0" transform="translate(-24.415 -1.009)" id="patches">
                            <circle transform="translate(43.009 4.496)" r="2" cy="2" cx="2"></circle>
                            <circle transform="translate(39.366 17.952)" r="2" cy="2" cx="2" data-name="patch"></circle>
                            <circle transform="translate(33.016 8.044)" r="1" cy="1" cx="1" data-name="patch"></circle>
                            <circle transform="translate(51.081 18.888)" r="1" cy="1" cx="1" data-name="patch"></circle>
                            <circle transform="translate(33.016 22.503)" r="1" cy="1" cx="1" data-name="patch"></circle>
                            <circle transform="translate(50.081 10.53)" r="1.5" cy="1.5" cx="1.5" data-name="patch"></circle>
                          </g>
                        </g>
                      </g>
                      
                      
                      <g filter="url(#cloud)" transform="matrix(1, 0, 0, 1, -3.5, -3.5)">
                        <path fill="#fff" transform="translate(-3466.47 -160.94)" d="M3512.81,173.815a4.463,4.463,0,0,1,2.243.62.95.95,0,0,1,.72-1.281,4.852,4.852,0,0,1,2.623.519c.034.02-.5-1.968.281-2.716a2.117,2.117,0,0,1,2.829-.274,1.821,1.821,0,0,1,.854,1.858c.063.037,2.594-.049,3.285,1.273s-.865,2.544-.807,2.626a12.192,12.192,0,0,1,2.278.892c.553.448,1.106,1.992-1.62,2.927a7.742,7.742,0,0,1-3.762-.3c-1.28-.49-1.181-2.65-1.137-2.624s-1.417,2.2-2.623,2.2a4.172,4.172,0,0,1-2.394-1.206,3.825,3.825,0,0,1-2.771.774c-3.429-.46-2.333-3.267-2.2-3.55A3.721,3.721,0,0,1,3512.81,173.815Z" data-name="cloud" id="cloud"></path>
                      </g>
                
                      
                      <g fill="#def8ff" transform="translate(3.585 1.325)" id="stars">
                        <path transform="matrix(-1, 0.017, -0.017, -1, 24.231, 3.055)" d="M.774,0,.566.559,0,.539.458.933.25,1.492l.485-.361.458.394L1.024.953,1.509.592.943.572Z"></path>
                        <path transform="matrix(-0.777, 0.629, -0.629, -0.777, 23.185, 12.358)" d="M1.341.529.836.472.736,0,.505.46,0,.4.4.729l-.231.46L.605.932l.4.326L.9.786Z" data-name="star"></path>
                        <path transform="matrix(0.438, 0.899, -0.899, 0.438, 23.177, 29.735)" d="M.015,1.065.475.9l.285.365L.766.772l.46-.164L.745.494.751,0,.481.407,0,.293.285.658Z" data-name="star"></path>
                        <path transform="translate(12.677 0.388) rotate(104)" d="M1.161,1.6,1.059,1,1.574.722.962.607.86,0,.613.572,0,.457.446.881.2,1.454l.516-.274Z" data-name="star"></path>
                        <path transform="matrix(-0.07, 0.998, -0.998, -0.07, 11.066, 15.457)" d="M.873,1.648l.114-.62L1.579.945,1.03.62,1.144,0,.706.464.157.139.438.7,0,1.167l.592-.083Z" data-name="star"></path>
                        <path transform="translate(8.326 28.061) rotate(11)" d="M.593,0,.638.724,0,.982l.7.211.045.724.36-.64.7.211L1.342.935,1.7.294,1.063.552Z" data-name="star"></path>
                        <path transform="translate(5.012 5.962) rotate(172)" d="M.816,0,.5.455,0,.311.323.767l-.312.455.516-.215.323.456L.827.911,1.343.7.839.552Z" data-name="star"></path>
                        <path transform="translate(2.218 14.616) rotate(169)" d="M1.261,0,.774.571.114.3.487.967,0,1.538.728,1.32l.372.662.047-.749.728-.218L1.215.749Z" data-name="star"></path>
                      </g>
                    </g>
                  </svg>
                </label>
                          </div>


  
    <button class="button Post button-49" id="btnPosts" type="button" class="post----btn" data-bs-toggle="modal"
    data-bs-target="#exampleModal" data-bs-whatever="@mdo"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="svg">
  <path clip-rule="evenodd" d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 7C12.5523 7 13 7.44772 13 8V11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H13V16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16V13H8C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H11V8C11 7.44772 11.4477 7 12 7Z"></path>
  </svg>Post</button>
    
    <button class="button Chat button-49"><svg viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg">
          <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -999.000000)">
              <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path d="M97.1784026,840.884344 C92.8882915,837.134592 86.2359857,839.256228 84.7592414,844.817545 C84.139128,847.151543 84.7373784,848.235292 84.7373784,849.987037 C84.7373784,851.787636 84,854.395812 84,854.395812 C84,854.714855 84.2832249,855.025921 84.6320386,854.935194 C85.8792217,854.609172 87.8627895,853.964107 90.2349218,854.608175 C98.2119249,856.770688 103.330841,846.261214 97.1784026,840.884344 M103.447113,859 C103.395437,859 103.341773,858.993021 103.287115,858.979063 C96.9806421,857.395812 97.4039887,859.174477 93.8999507,858.237288 C92.8395967,857.954137 91.8746446,857.443669 91.0418642,856.781655 C97.4059763,857.561316 102.710728,852.016948 101.771614,845.487535 C102.732591,846.487535 103.438169,847.72582 103.7363,849.11266 C104.584981,853.048852 102.430484,852.38285 103.983749,858.364905 C104.075176,858.714855 103.765119,859 103.447113,859" id="messages_chat-[#1557]">
  
  </path>
              </g>
          </g>
      
  </svg>Chat</button>
                 
                        <button class="button-49 "><a href="/library"  class="nav-link">library</a></button>
                <button class="button-49 "><a class="nav-link" href="/">Home</a></button>      

                            
        </div>
            <div class="data--page ">
                <div id="data"  ></div>
            </div>
        </div>
    </div>
<iframe  src="/chat" frameborder="0"></iframe>

    <section>
        </section>

    <button id="scrol" class="btn">
        <i class="fa-solid fa-arrow-up"></i>
    </button>

    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal_content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        New message
                    </h5>
                    <button type="button" class="btn-close closeCreate" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <form> -->
                        <div class="mb-3 addtion-title">
                            <label for="recipient-name" class="col-form-label">title</label>
                            <input type="text" class="form-control" id="recipient-name" />
                        </div>
                        <div class="mb-3 addtion-prg">
                            <label for="message-text" class="col-form-label">paragraph</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        <div class="mb-3 addtion-img">
  <button id="imageInput1" type="button">
    <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-width="2" stroke="#ffffff"
        d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125"
        stroke-linejoin="round" stroke-linecap="round"></path>
      <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#ffffff"
        d="M17 15V18M17 21V18M17 18H14M17 18H20"></path>
    </svg>
    ADD FILE
  </button>

  <input type="file" class="pic btn d-none" name="" id="ffile" multiple accept="image/*">

  <div id="fileCount" style="margin-top: 10px;">لم يتم اختيار ملفات بعد</div>

  <div id="preview" style="margin-top: 10px; display: flex; flex-wrap: wrap; gap: 10px;"></div>
</div>

                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="send">Send message</button> -->
                    <butto class="send">
                      <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                          >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                              fill="currentColor"
                              d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <span>Send</span>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
   <div class="layyer d-none"></div>
    <script src="java.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js  "></script>
    <script src="profile.js"></script>
    <!-- <script src="lib/fontawesome-free-6.4.2-web/js/all.min.js"></script>
  <script src="lib/New folder/lib/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script> -->
</body>
<script></script>

</html>